.sidenav-container {
  height: 100%;
  box-shadow: 0px 1px 10px #999;
 
}

.sidenav {
  width: 200px;
  box-shadow: 0px 1px 10px #999;
}

.sidenav .mat-toolbar {
  background: inherit;
  box-shadow: 0px 1px 10px #999;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px 10px #999;
}
.mat-nav-list a{
  
  position: relative;


}

.mat-toolbar{
  box-shadow: 0px 1px 10px #999;
}
.mat-card{
  height:600px;
  width:600px;
  left:1880px;
  top: 680px;
  position: relative;
}
.mat-form-field{
  width:400px;
 left: 2000px;
  position: relative;
}
.mat-button{
  position: relative;
  left:-20px;
  z-index:1;
}