
   
        
          <div [ngClass]="'dropdownheader'" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</div>
          <div [ngClass]="'dropdown-menu'" aria-labelledby="dropdown01">
            <ul [ngClass]="'ul2'" >
              <li *ngFor="let item of name">{{item}}</li>
            </ul>
          </div>
     

      
          <div class="row">
            <div class="col-xs-3">
              I'm a right column of 3
            </div>
          </div>